In [2]:
import pandas as pd
all_stock_data = pd.read_parquet("../data/all_stock_data.parquet")

In [4]:
all_stock_data.describe()

/home/yorikas/vscode-projects/Momentum_Trading_Strategy/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,3.464615e+07,3.464615e+07,3.464615e+07,3.464615e+07,3.464626e+07,3.464626e+07,34646258.0
mean,1.115049e+23,1.115049e+23,1.115049e+23,1.115049e+23,1.339230e+06,3.980156e-03,inf
std,3.954735e+25,3.954735e+25,3.954735e+25,3.954735e+25,1.567170e+07,1.603516e+00,NaN
min,-8.210044e+25,-8.210044e+25,-8.210044e+25,-8.210044e+25,0.000000e+00,0.000000e+00,0.0
25%,3.150000e+00,3.400000e+00,3.262533e+00,3.331568e+00,2.680000e+03,0.000000e+00,0.0
50%,1.088000e+01,1.112991e+01,1.082000e+01,1.098039e+01,5.380000e+04,0.000000e+00,0.0
75%,2.802786e+01,2.867335e+01,2.779270e+01,2.822554e+01,4.270000e+05,0.000000e+00,0.0
max,1.507290e+28,1.507290e+28,1.507290e+28,1.507290e+28,9.230856e+09,4.500000e+03,inf

In [ ]:
all_stock_data[all_stock_data["Stock Splits"] < 0.8]["Stock Splits"]

7771        2.0
18543       3.0
18879       2.0
23644       2.0
23819       2.0
           ...
27980170    5.0
28237848    5.0
28248972    5.0
28249281    4.0
28346090    4.0
Name: Stock Splits, Length: 2632, dtype: float64