In [2]:
import pandas as pd
import yfinance as yf

In [3]:
all_stock_data = pd.read_parquet("../data/all_stock_data.parquet")

In [4]:
all_stock_data[all_stock_data["Stock Splits"] == 1]["Stock Splits"].sort_values(ascending=False)

230350      1.0
308612      1.0
449937      1.0
633765      1.0
727942      1.0
           ...
28032393    1.0
28187226    1.0
28379632    1.0
28596329    1.0
28781450    1.0
Name: Stock Splits, Length: 688, dtype: float64

In [5]:
pd.Timestamp(all_stock_data.iloc[230350]['Date'])

Timestamp('1976-04-12 00:00:00')

In [6]:
pd.Timestamp(1730678400000000000)

Timestamp('2024-11-04 00:00:00')

In [7]:
all_stock_data.iloc[230351]['Close']

np.float64(0.006889458745718002)

In [8]:
data = yf.download('GLT', period='max', auto_adjust=True, progress=False)

1 Failed download:
['GLT']: YFTzMissingError('possibly delisted; no timezone found')

In [9]:
all_stock_data[all_stock_data['Ticker'] == '']

Empty DataFrame
Columns: [Date, Ticker, Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [10]:
all_stock_data[all_stock_data['Ticker'] == 'AAPL']["Date"]

510234       345427200000000000
511022       345686400000000000
511380       345772800000000000
511741       345859200000000000
512565       345945600000000000
                   ...
34610705    1730160000000000000
34616030    1730246400000000000
34623655    1730332800000000000
34638889    1730419200000000000
34642555    1730678400000000000
Name: Date, Length: 11066, dtype: object